.spinner{
    width:50px;
    height:50px;
    border:5px solid #f3f3f3;
    border-top:5px solid #3498db;
    border-radius:50%;
    animation:spin 1s linear infinite;
    margin:auto;
}

@keyframes spin{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.notification {
  background-color: #555;
  left:93%;
  
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  

  border-radius: 2px;
  transition: transform 1s;
}

.notification:hover {
  background: red;
  transform: scale(1.1);
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(255,0,0,0.7); }
  70% { box-shadow: 0 0 0 15px rgba(255,0,0,0); }
  100% { box-shadow: 0 0 0 0 rgba(255,0,0,0); }
}

.attention-btn {
  padding: 15px 30px;
  background: #27ae60;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 150px;
  cursor: pointer;
  animation: bounce 2s infinite;
  transition: background-color 0.3s;
}

.attention-btn:hover {
  background: #2ecc71;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
}

.banner {
  background: #2c3e50;
  color: white;
  padding: 20px;
  overflow: hidden;
}

.banner span {
  display: inline-block;
  animation: slide 6s infinite ;
  ;
}

@keyframes slide {
  0% { transform: translateX(500%); }
  50% { transform: translateX(0); }
  100% { transform: translate(-150%); }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 300px;
  background-color: #f9f9f9;
  text-align: center;
  transition: transform 1s ease, box-shadow 1s ease background-color 1s ease;
}

.container {
  padding: 2px 16px;
}

.card:hover {
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  transform: translateX(100px) ;
  background-color: #e0f7fa;
}