.sec{
    display:inline;
    width:200px;
    height:100px;
    background-color: lightsteelblue;
    padding:20px;
}
span{
    display: block;
    width: 200px;
    height: 400px;
    margin: 30px;
    background-color: lightcoral;
}

.flex-container {
    display: flex;
    width: 50%;
    background-color: rgb(151, 107, 107);
    padding: 10px;
    flex-direction: row;
    align-items:center;
    gap: 10px;
    height:300px;
    

  }
  
  .item{
    background-color: DodgerBlue;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  .one{
    align-self:last baseline;
  }