.line{
    position: relative;
    line-height: 40px;
    padding: 50px;
    margin: 50px;
    border: 2px solid black;
}
.line1{
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.btn{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;

}

.btn:hover{
    background-color: #3e8e41;
    color: white;
}

.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  text-align: center;

}